<html>

<head>
    <title>help</title>
    <link href="/Styles/style.css" rel="stylesheet" />
</head>

<body>
     <div class="main-content">
    {{>header}}
    <p>{{message}}</p>
   </div>
</body>
 {{>footer}}
</html>