<html>

<head>
    <title>about</title>
    <link href="/Styles/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="/weather.png">
</head>

<body>
     <div class="main-content">
    {{>header}}
    <p> This site is created by me. This site fetches data from WeatherStack</p>
    <img src="/img/manoj2.JPG" />
     </div>
</body>
 {{>footer}}
</html>